.FooterBackground{
    background-color:var(--primary-color);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    box-shadow: var(--shadow-sm);
}


.FooterText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vh;
    text-align: center;
    padding: 1vh;
    font-size: 1vh;
    font-family: var(--font-1);
}

.FooterLinks {
    display: inline-flex;
}

.FooterLinks a {
    color: var(--text-color);
    text-decoration: underline;
}

.FooterLinks a:hover {
    color: var(--hover-text-color);
}