:root {
  --font-1: Verdana, Geneva, Tahoma, sans-serif;
  --font-2: 'Courier New', Courier, monospace;
  --font-3: Impact, sans-serif;
}

.ShowsBackground {
    background: var(--background);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
}

.ShowsText1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: var(--font-2);
    text-transform: uppercase;
}

.SBanner {
    height: auto;
    width: 100%;
    margin-top: 8rem;
}

.ShowsContainer {
    background: var(--contentBackground);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    width: 70%;
    min-height: 100vh; /* Ensures the container takes at least 100% of the viewport height */
    height: auto; /* Allows the container to expand with content */
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* Enables scroll for the content */
    max-height: calc(100vh - 8vh); /* Keeps it within the available height minus the header space */
    padding-bottom: 20px; /* Adds some space at the bottom for better scroll behavior */
    box-shadow: 0 0 10vh rgb(0, 0, 0);
}

.ShowsContainer::-webkit-scrollbar {
    display: none; /* Hides scrollbar for a cleaner look */
}

/* Weekly Shows Styling */
.WeeklyShow {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 1rem;
    border: 5px solid #000000;
    display: block;
    box-shadow: 0 0 1vh rgb(0, 0, 0);
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.WeeklyShow:hover, .PPVShows:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5vh 2vh rgba(166, 0, 255, 0.6);
    border-radius: 1.5rem;
}

.centerPPV {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, auto); /* 3 rows */
    gap: 0.2vw; /* Space between grid items */
    justify-items: center;
    align-items: center;
    margin-left: auto;
    width: 100%;
}

.PPVShows {
    width: 90%;
    height: 10vw ;
    border: 5px solid #000000;
    box-shadow: 0 0 3vh rgb(0, 0, 0);
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}
