.ShowsBackground {
    background: var(--background);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
}

.ShowsText1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: var(--font-2);
    text-transform: uppercase;
}

.SBanner {
  width: 100%;
  min-height: 8rem;
  margin-top: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Minimalist patterned background */
  background-color: var(--primary-color);
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 10px,
      transparent 10px,
      transparent 20px
    );

}

.SBanner__title {
  font-family: var(--font-2);
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 50;
  color: var(--text-color);

  margin-top: 2rem;
  margin-bottom: 1rem;
}


.ShowsContainer {
    background: var(--contentBackground);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    width: 70%;
    min-height: 100vh; /* Ensures the container takes at least 100% of the viewport height */
    height: auto; /* Allows the container to expand with content */
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* Enables scroll for the content */
    max-height: calc(100vh - 8vh); /* Keeps it within the available height minus the header space */
    padding-bottom: 20px; /* Adds some space at the bottom for better scroll behavior */
    box-shadow: 0 0 10vh rgb(0, 0, 0);
}

.ShowsContainer::-webkit-scrollbar {
    display: none; /* Hides scrollbar for a cleaner look */
}

/* Weekly Shows Styling */
.WeeklyShow {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 1rem;
    border: 5px solid #000000;
    display: block;
    box-shadow: 0 0 1vh rgb(0, 0, 0);
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.WeeklyShow:hover, .PPVShows:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5vh 2vh var(--primary-colorV2);
    border-radius: 1.5rem;
}

.centerPPV {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, auto); /* 3 rows */
    gap: 0.2vw; /* Space between grid items */
    justify-items: center;
    align-items: center;
    margin-left: auto;
    width: 100%;
}

.PPVShows {
    width: 90%;
    height: 10vw ;
    border: 5px solid #000000;
    box-shadow: 0 0 3vh rgb(0, 0, 0);
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}
